:root{
    --bg-color: rgb(39,37,47);
    --darker-bg-color: #1A1A1D;
    --main-text-color: rgba(255,255,255,0.85);
    --title-yellor-color: #DFDF00;
    --highlights-blue1: #87CEEB;
    --white-text: rgba(255,255,255,0.87);
}