---
import PageLayout from '../layouts/PageLayout.astro';
import Card from '../components/Card.astro'
const cardlist = [{title:'Test 1',desc:"This documents my attempt to webscrape the senatorial election results per province from certain news sites."},{title:'Test 2',desc:'test2'},{title:'Test 3',desc:'test3'},{title:'Test 4',desc:'test4'}];
import { getCollection } from "astro:content";
const publishedBlogEntries = await getCollection('blog', ({ data }) => {
  return data.draft !== true;
});
const sortedPublishedBlogEntries = publishedBlogEntries.sort((a,b) =>{
        return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
});
---

<PageLayout pageTitle="Blog">
    <div id="container">
        {
            sortedPublishedBlogEntries.map((post)=>(
                <Card title={post.data.title} desc={post.data.description} url={`/posts/${post.id}/`} img_src={post.data.cover}/>
            ))
        }

    </div>
</PageLayout>

<style>
    #container {
        position:relative;
        top: 1em;
        width:95%;
        margin-inline: auto;
        padding-bottom: 2em;
        display:grid;
        grid-template-columns: auto auto;
        column-gap: 2em;
        row-gap: 2em;
        justify-content: center;
    }

    @media screen and (max-width: 768px) {
        #container {
            display:flex;
            flex-direction:column;
            min-width:80vw;
        }
    }
</style>